[Unit]
Description=Discord Both service for music and misc stuff
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/JustyBot/run.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
