[Unit]
Description=Discord Bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/JustyBot/run.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
